[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flask-security = "*"
email-validator = "*"
invenio-access = "*"
werkzeug = "==2.0.3"
invenio-app = "*"
pytest-cov = "*"
invenio-records-permissions = "*"
elasticsearch-dsl = "*"
invenio-rdm-records = "*"
invenio-search = "*"

[dev-packages]

[requires]
python_version = "3.9"
